


body{
    background: linear-gradient(to top, #19191a , #9ac2e6 );
    background-attachment: fixed;
    -webkit-background-size: cover;
    
}

.vote-list-con{
    margin: 120px 30px;
}

.popup-form{
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.842);
    width: 50%;
    margin: auto;
    z-index: 3;
    transition: all 0.5s ease;
}

.popup-form.open{
    display: block;
    top: 20%;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
}