@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top, #914cd1 , #4eacff );
    background-attachment: fixed;
    -webkit-background-size: cover;
    
}
.top-nav-collapse {
    background-color: #383737 !important;
  }

  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }

  @media (max-width: 991px) {
   .navbar:not(.top-nav-collsapse) {
    background: #383737 !important;
   }
  }

.cards-con{
    
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin-top: 35px;
}

.card{
    width: 18rem;
    margin: 0 10px 20px 10px;
    height: 55vh;
}

nav{
    z-index: 5;
    position: fixed;
}
.logmenu{
   width: 20cm;
   height: 15cm;
   
    /* position: absolute; */
    background-color: black;
    position: relative;
    
  
}


.logmenu1{
    /* background-color: brown; */
    
     position: fixed;
     /* position: relative; */
     top: 64px;
     right: 0%;
     z-index: 5; 
     clip-path: circle(20px at 100% -15%);
   -webkit-clip-path: circle(20px at 100% -15%);
   transition: all 0.5s ease-out;
   pointer-events: none;
   opacity: 0;
 }
 
 .logmenu1.open{
    clip-path: circle(400px at 100% -15%);
    -webkit-clip-path: circle(400px at 100% -15%);
    pointer-events: all;
    opacity: 0.5;
 }

 .menubtn{
    opacity: 0;
}
.menubtn:first-child{
    position: absolute;
    top: 6%;
    left: 60%;
    transition: all 0.4s ease 0.3s;
}
.menubtn:nth-child(2){
    position: absolute;
    bottom: 65%;
    right: 6%;
    transition: all 0.4s ease 0.4s;

}


.menubtn.fade{
   opacity: 1;
}




section{
    display: flex;
    height: 80vh;
   justify-content: center;
   align-items: center;

   
}
.hero{
    width: 100%;
    height: 60%;
    position: relative;
    margin-top: 4cm;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.headline{
    position: absolute;
   top: 70%;
   left: 10%; 
   font-size: 80px;
   color: white;
   transform: translate(-20%,-70%);
   z-index: 2;
}

.hero::after{
 content: "";
 background: black;
 width: 100%;
 height: 100%;
 position: absolute;
 left: 0;
 top: 0;
 opacity: 0.3;   
}

.flex-1{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-content: space-around; */
}


.flex-1 div{
    height: 500px;
    width: 40%;
    flex: 40%; 
    padding: 100px 120px;  
    font-size: x-large;
}

.left-1{
    background-color: rgba(137, 43, 226, 0.897);
    color: aliceblue;
    margin: 0 30px 0 60px;

}
.right-1{
    background-color: rgba(69, 177, 177, 0.897);
    margin: 0 60px 0 30px;

}

.typo{
    color: aliceblue;
    opacity: 0;
    transform: translateX(30px);

    transition: 0.5s all ease-in-out;
}

.typo::after{
    /* position: absolute; */
    content: "";
    margin-left: 3px;
    width: 1px;
    margin-top: 4px;
    height: 3%;
    border-right: 4px solid aliceblue;
    animation: blink 0.3s infinite;
}

.intro-l{
    opacity: 0;
    transform: translateX(-30px);
    transition: 0.5s all ease-in-out;
}


.intro-r{
    opacity: 0;
    transform: translateX(30px);
    transition: 0.5s all ease-in-out;
}

.intro-appear{
    opacity: 1;
    transform: translateX(0);

}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .flex-1 {   
      flex-direction: column;
    }
    .flex-1 div{   
        width: 100%;
      }
  }




  /* Footer */
.footer {
    padding: 50px;
    text-align: center;
    background: rgba(41, 49, 75);
  }


  .waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}


  /* ?  animations */
  @keyframes blink{
      0% {
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }


  
  /** wave Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}